<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charging Stations</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Add Google Maps script -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap"
    async defer></script>
    <script>
        var map;
        function initMap() {
            var totalLat = 0;
            var totalLng = 0;
            var count = 0;
            {% for station in stations %}
                totalLat += {{ station['Latitude'] }};
                totalLng += {{ station['Longitude'] }};
                count++;
            {% endfor %}
    
            var avgLat = totalLat / count;
            var avgLng = totalLng / count;
    
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: avgLat, lng: avgLng},
                zoom: 14
            });
    
            {% for station in stations %}
                var marker = new google.maps.Marker({
                    position: {lat: {{ station['Latitude'] }}, lng: {{ station['Longitude'] }}},
                    map: map
                });
            {% endfor %}
        }
    </script>
</head>
<body>
<h1>Charging Stations</h1>
<style>
    #map-container {
        width: 100%; 
        position: relative; 
    }

    #map {
        height: 400px;
        width: 711px; 
        margin: 0 auto; 
    }

    .table-container {
        width: 1200px; 
        margin: 0 auto; 
        overflow-x: auto; 
    }
</style>

<div id="map-container">
    <div id="map"></div>
</div>
<br>
<!-- Use Bootstrap classes for the table -->
<div class="table-container">
  <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>ID</th>
            <th>ConnectionTypeID</th>
            <th>ConnectionType</th>
            <th>Reference</th>
            <th>StatusTypeID</th>
            <th>StatusType</th>
            <th>LevelID</th>
            <th>Level</th>
            <th>Amps</th>
            <th>Voltage</th>
            <th>PowerKW</th>
            <th>CurrentTypeID</th>
            <th>CurrentType</th>
            <th>Quantity</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for station in stations %}
        <tr>
            <td>{{ station['Title'] }}</td>
            <td>{{ station['ID'] }}</td>
            <td>{{ station['ConnectionTypeID'] }}</td>
            <td>{{ station['ConnectionType'] }}</td>
            <td>{{ station['Reference'] }}</td>
            <td>{{ station['StatusTypeID'] }}</td>
            <td>{{ station['StatusType'] }}</td>
            <td>{{ station['LevelID'] }}</td>
            <td>{{ station['Level'] }}</td>
            <td>{{ station['Amps'] }}</td>
            <td>{{ station['Voltage'] }}</td>
            <td>{{ station['PowerKW'] }}</td>
            <td>{{ station['CurrentTypeID'] }}</td>
            <td>{{ station['CurrentType'] }}</td>
            <td>{{ station['Quantity'] }}</td>
            <td>{{ station['Comments'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
